@page
@model OdeToFood.Pages.Restuarants.ClientRestaurantsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<table id="restaurants" class="table"></table>




@section Scripts{

<environment include="Development">
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />

</environment>

<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
</environment>

<script>
    $(function () {
        $.ajax("/api/restaurants/", { method: "get" }).then(function (response) {
            console.dir(response);

            $("#restaurants").dataTable({
                data: response,
                columns: [
                    { "data": "name" },
                    { "data": "location" },
                    { "data": "cuisine" },

                ]
            });
        });
    });
</script>
}