@page  "{restaurantId:int}"
@model OdeToFood.Pages.Restuarants.DeleteModel
@{
}


<h2>Delete</h2>
<div class="alert alert-danger">
    Are you sure you wan to delete @Model.Restaurant.Name?
</div>
<form method="post">
    <button class="btn btn-danger">Yes</button>
    <a asp-page="List" class="btn btn-success">No</a>
</form>

