@page
@model OdeToFood.Pages.Restuarants.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Restuarants</h2>
<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>
